.content__container-pics{
    display: block;
}

.content__container-pics-gr1,
.content__container-pics-gr2,
.content__container-pics-gr3{
    display: flex;
}

.content__container-map-pic{
    position: relative;
    width: 100%;
}

.content__container-map-desc{
    position: absolute;
    color: var(--white-color);
    top: 50%;
    right: 0;
    left: 0;
    text-align: center;
    font-size: 6rem;
    font-family: 'Playfair Display', serif;
}
